.header{
    height: 50vw;
    margin: 20px 250px;
    width: 100%;
    margin-right: 150px;
    background: url('https://static.toiimg.com/photo/77481105.cms/image.jpg') no-repeat; 
    background-size: contain;
    position: relative;
    display: flex;
    justify-content: center;

   
}

.header-contents{
    position: absolute; 
     /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%; 
    left: 8vw; 
    margin: 80px; 
    
    align-items: center;
    text-align: center; 
    border: 1px black; 
    width: 100%;
    justify-content: center;
    animation:  fadeIn 3s;

} 

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4vw,20px);
    margin: 10px; 
    text-align: center; 
    display: flex;
    align-items: center; 
    justify-content: center;
    
} 

 .header-contents p{
    font-size: 6px;
    margin: 15px 0;
    color: rgb(213, 228, 241);
    letter-spacing: 1px;
} 

 .header-contents button{
    border: none;
    color: rgb(236, 229, 229);
    font-weight: 500;
    padding: 1vw 2.vw;
    background-color: rgb(1, 13, 15);
    font-size: max(1vw,13px);
    border-radius: 50px;
}