 .faq-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    background-image: url('C:\Users\ashut\OneDrive\Documents\Mess_Delivery\mess-app\src\assests\herobackground.jpg');
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .faq{
    padding-top: 25px;
    background-image: url('https://static.toiimg.com/photo/77481105.cms/image.jpg');
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    margin-top: 4%;
    width:100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .faq-container h1 {
    margin-top: 5%;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #333;
  }
  .faq-container h3{
    margin-top: 2%;
  }
  
  .faq-list {
    list-style-type: none;
    padding: 0;
    margin-top: 5%;
  }
  
  .faq-item {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .faq-item.active {
    border-color: #783254;
    box-shadow: 0 4px 8px #7e586b;
  }
  
  .faq-question {
    padding: 15px 20px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    background-color: #783254;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .faq-question:hover {
    background-color: #804662;
  }
  
  .faq-answer {
    max-height: 0;
    padding: 0 20px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    transition: max-height 0.3s ease, padding 0.3s ease;
    overflow: hidden;
  }
  
  .faq-item.active .faq-answer {
    max-height: 200px; 
    padding: 15px 20px;
  }