.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
.Image_slider{
    width: 100%;
    height: 160%;
    /* padding-left: 7%; */
    border-radius: 15px 15px 0px 0px;
}